<mat-spinner *ngIf="!hasBeenFetched"></mat-spinner>
<div *ngIf="hasBeenFetched">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title [ngClass]="{ crossedOut: toDo.isCrossedOut }">{{ toDo.title }}</mat-card-title>
      <mat-card-subtitle>Created on {{ toDo.createdDate | date: 'longDate' }}</mat-card-subtitle>
      <mat-slide-toggle
        [checked]="isToDoDone"
        color="primary"
        (change)="onToggle($event)"
      ></mat-slide-toggle>
    </mat-card-title-group>
    <mat-card-content>
      <p> {{ toDo.description }} </p>
    </mat-card-content>
  </mat-card>
  
  <div class="backButton">
    <button mat-raised-button color="basic" (click)="goToList()">Back</button>
  </div>
</div>
