<mat-card>
  <mat-card-title-group>
    <mat-card-title [ngClass]="{ crossedOut: toDo.isCrossedOut }">{{ toDo.title }}</mat-card-title>
    <mat-card-subtitle>Created on {{ toDo.createdDate | date: 'longDate' }}</mat-card-subtitle>
    <mat-slide-toggle
      [checked]="toDo.isDone"
      color="primary"
      (change)="onToggle($event)"
    ></mat-slide-toggle>
  </mat-card-title-group>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="onSeeDetails()">See details</button>
  </mat-card-content>
</mat-card>